{% extends "aldryn_newsblog/base.html" %}
{% load i18n cms_tags %}

{% block content %}

                {% if view.show_header %}
                    {% static_placeholder "newsblog_feature" %}
                {% endif %}
                <div class="aldryn aldryn-newsblog">
                    {% block newsblog_content %}{% endblock %}
                </div>


                {% static_placeholder "newsblog_sidebar" %}
                {% block newsblog_sidebar %}{% endblock %}

    {% block newsblog_footer %}{% endblock %}
{% endblock content %}